{%extends "index.html"%}
{%block title%}Login{%endblock title%} 

{%block body%}
{%for message in get_flashed_messages()%}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%endfor%}
<br>
<h1 style="color:white;text-align: center;">Please Login</h1><br>
<div class="container" style="width:380px;height:550px">

  <form method="POST">
    {{form.hidden_tag()}}
      <div class="form-floating">
        {{form.email(class_="form-control" ,id="floatingInput", placeholder="anyname")}}<br>
        <label for="floatingInput">Email address</label>
        {%for error in form.email.errors%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
       {%endfor%}
      </div>
      <div class="form-floating">
        {{form.password(class_="form-control" ,id="floatingInput", placeholder="anyname")}}<br>
        <label for="floatingPassword">Password</label>
        {%for error in form.password.errors%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
       {%endfor%}
      </div>
    {{form.login(class="btn btn-lg btn-primary",style="margin-left:132px;background-color:mintcream;color:black;border-color: black;")}}
</form>
</div>


{%endblock body%}